html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.app {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
      "header"
      "user"
      "playing"
      "footer";
  min-height: 100%;
  text-align: center;
  margin: auto;
}

.header {
  grid-area: header;
  padding: 10px;
}

.user {
  grid-area: user;
  padding: 10px;
}

.playing {
  grid-area: playing;
  padding: 10px;
}

.footer {
  grid-area: footer;
  background-color: grey;
  padding: 10px;
  color: white;
}

@media (min-width: 600px) {
  .app {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas:
      "user    blank   blank"
      "header  header  header"
      "playing playing playing"
      "footer  footer  footer";
  }
}

@media (min-width: 750px) {
  .app {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "user    header  blank"
      "playing playing playing"
      "footer  footer  footer";
  }
}

@media (min-width: 1000px) {
  .app {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "user    header    blank"
      "playing playing playing"
      "footer  footer  footer";
  }
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
