.app {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
      "header"
      "user"
      "playing";
  min-height: 100%;
  text-align: center;
  margin: auto;
}

.header {
  grid-area: header;
}

.user {
  grid-area: user;
  margin-top: 30px;
}

.playing {
  grid-area: playing;
  margin-top: 30px;
}

@media (min-width: 600px) {
  .app {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas:
      "blank   blank   user"
      "header  header  header"
      "playing playing playing";
  }

  .user {
    margin-top: 0px;
  }

  .playing {
    margin-top: 0px;
  }

  .user iframe {
    position: relative;
    left: 2em;
  }
}

@media (min-width: 770px) {
  .app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "user    header  blank"
      "playing playing playing";
  }
}

@media (min-width: 1000px) {
  .app {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "user    header  blank"
      "playing playing playing";
  }
}
